<head>
    <link rel="stylesheet" href="../public/assets/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="sidebar">
        <header><i class="fa fa-home"> HOME</i></header>
        <ul>
            <li><a href="/customerservices"><i class="fa fa-cart-plus"></i>NEW SERVICES</a></li>
            <li><a href="/checkstatus"><i class="fa fa fa-motorcycle"></i>CHECK STATUS</a></li>
            <li><a href="/viewhistory"><i class="fa fa fa-motorcycle"></i>VIEW HISTORY</a></li>
            <li><a href="/customerprofile"><i class="fa fa-address-book"></i>PROFILE</a></li>
        </ul>
    </div>
    <section>
        <div class="portfolio-items-wrapper">
      
            <div class="portfolio-item-wrapper">  
              <div class="stationservice1"></div>
    
              <div class="img-text-wrapper">
              <ul>
                <li>Station Name : Exprees_bike Service </li>
                <br>
                <li>Station Address : 95/2,Sathy road Coimbatore</li>
                <br>
                <li>Station Email : express.bike@gmail.com</li>
                <br>
                <li>Station Phone : 9697100023</li>  
                <br>
                <li>Cost : Rs 300.00</li> 
                <br>
                <li><button class="book">
                    <a href="/book">BOOK</a>
                </button>
               </li>
              </ul>    
              </div>
              
            </div>
        </div>

        
        <div class="portfolio-items-wrapper">
      
            <div class="portfolio-item-wrapper">  
              <div class="stationservice1"></div>
    
              <div class="img-text-wrapper">
              <ul>
                <li>Station Name :  Gem Motors service station</li>
                <br>
                <li>Station Address : 17B, puliyakulam Coimbatore</li>
                <br>
                <li>Station Email : Bgemservices@gmail.com</li>
                <br>
                <li>Station Phone : 9944338998</li>  
                <br>
                <li>Cost : Rs 400.00</li> 
                <br>
                <li><button class="book">
                    <a href="/book">BOOK</a>
                </button>
               </li>
              </ul>    
              </div>
              
            </div>
        </div>
    </section>   
</body>

