<head>
    <link rel="stylesheet" href="../public/assets/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
</head>
<body>
    <div class="sidebar">
        <header><i class="fa fa-home"> HOME</i></header>
        <ul>
            <li><a href="/customerservices"><i class="fa fa-cart-plus"></i>NEW SERVICES</a></li>
            <li><a href="/checkstatus"><i class="fa fa fa-motorcycle"></i>CHECK STATUS</a></li>
            <li><a href="/viewhistory"><i class="fa fa fa-motorcycle"></i>VIEW HISTORY</a></li>
            <li><a href="/customerprofile"><i class="fa fa-address-book"></i>PROFILE</a></li>
        </ul>
    </div>
    <section>
        <div  class="bookfont">
            <h1>YOUR ORDER IS BOOKED</h1>
        </div>
    </section>   
</body>