
<head>
    <link rel="stylesheet" href="../public/assets/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="sidebar">
        <header><i class="fa fa-home"> HOME</i></header>
        <ul>
            <li><a href="/bookings"><i class="fa fa-cart-plus"></i>BOOKINGS</a></li>
            <li><a href="/services"><i class="fa fa fa-motorcycle"></i>SERVICES</a></li>
            <li><a href="/stationprofile"><i class="fa fa-address-book"></i>PROFILE</a></li>
        </ul>
    </div>
    <section>
        <div class="portfolio-items-wrapper">
      
            <div class="portfolio-item-wrapper">  
              <div class="stationservice1"></div>
              <div class="img-text-wrapper">
              <ul>
                <li>Service Name : GENERAL SERVICE CHECKUP</li>
                <br>
                <li>Customer Name : Xavier</li>
                <br>
                <li>Customer Address : 89 ,Raja Street , Coimbatore</li>
                <br>
                <li>Customer Email : xavier54@gmail.com</li>
                <br>
                <li>Customer Phone : 8957009976</li>  
                <br>
                <li>Vechicle No: TN 37 RP 8080</li>
                <br>
                <li>
                    STATUS : PENDING...
               </li>
              </ul>    
              </div>
            
            </div>
        </div>
        <div class="portfolio-items-wrapper">
      
            <div class="portfolio-item-wrapper">  
              <div class="stationservice1"></div>
              <div class="img-text-wrapper">
              <ul>

                <li>Service Name : WATER WASH</li>
                <br>
                <li>Customer Name : Harish</li>
                <br>
                <li>Customer Address : Ramanathapuram Road,Coimbatore</li>
                <br>
                <li>Customer Email : ramsuba@gmail.com</li>
                <br>
                <li>Customer Phone : 7045905299</li> 
                <br> 
                <li>Vechicle No: TN 37 AF 7557</li>
                <br>
                <li>
                    STATUS : PENDING...
               </li>
               
              </ul>    
              </div>
            </div>
        </div>
    </section>  
</body>
