<head>
    <link rel="stylesheet" href="../public/assets/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="sidebar">
        <header><i class="fa fa-home"> HOME</i></header>
        <ul>
            <li><a href="/customerservices"><i class="fa fa-cart-plus"></i>NEW SERVICES</a></li>
            <li><a href="/checkstatus"><i class="fa fa fa-motorcycle"></i>CHECK STATUS</a></li>
            <li><a href="/viewhistory"><i class="fa fa fa-motorcycle"></i>VIEW HISTORY</a></li>
            <li><a href="/customerprofile"><i class="fa fa-address-book"></i>PROFILE</a></li>
        </ul>
    </div>
    <section>
        <div class="portfolio-items-wrapper">
      
            <div class="portfolio-item-wrapper">  
              <div class="stationservice1"></div>
    
              <div class="img-text-wrapper">
              <ul>
                <li>Service Name : General Service Checkup</li>
                <br>
                <li>Station Name : The Bullet garage</li>
                <br>
                <li>Booking Date : 2020-09-23 18:27:29</li>
                <br>
                <li>Status : pending</li>  
              </ul>    
              </div>
              
            </div>
        </div>
    </section>   
</body>