<head>
    <link rel="stylesheet" href="../public/assets/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="sidebar">
        <header><i class="fa fa-home"> HOME</i></header>
        <ul>
            <li><a href="/customerservices"><i class="fa fa-cart-plus"></i>NEW SERVICES</a></li>
            <li><a href="/checkstatus"><i class="fa fa fa-motorcycle"></i>CHECK STATUS</a></li>
            <li><a href="/viewhistory"><i class="fa fa fa-motorcycle"></i>VIEW HISTORY</a></li>
            <li><a href="/customerprofile"><i class="fa fa-address-book"></i>PROFILE</a></li>
        </ul>
    </div>
    <section>
        <h1 id="heading">YOU HAVE REACHED PROFILE</h1>
        <!------ Include the above in your HEAD tag ---------->
        
        
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <img src="http://placehold.it/380x400" alt="" class="img-rounded img-responsive" />
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <h3>
                                    Xavier</h3>
                                <small><cite title="San Francisco, USA">Coimbatore, India<i class="glyphicon glyphicon-map-marker">
                                </i></cite></small>
                                <p>
                                    <i class="glyphicon glyphicon-globe"></i>Adress: 89 ,Raja Street , Coimbatore
                                    <br />
                                    <i class="glyphicon glyphicon-envelope"></i>Email: xavier54@gmail.com
                                    <br />
                                    <i class="glyphicon glyphicon-phone"></i>Phone: 8957009976
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>   
</body>