<head>
    <link href="../public/assets/login.css" rel="stylesheet">
  </head>
  <body id="image2">
    <div class="layout">
    <div class="signup-inlayer">
        <form action="/customersignup" method="POST">
          <h1>FILL IN THE DETAILS</h1>
          <input type="text" id="signup" name="name" placeholder="Name" required/>
          <input type="text" id="signup" name="address" placeholder="Address" required/>
          <input type="text" id="signup" name="email" placeholder="Email" required/>
          <input type="number" id="signup" name="phone" placeholder="Phone" required/>
          <input type="text" id="signup" name="vehicle_no" placeholder="Vehicle No" required/>
          <input type="password" id="signup" name="password" placeholder="Create Password" required/>
          <button type="submit">
            SIGN UP 
          </button>
        </form>
      </div>
    </div>
</body>
  