<head>
    <link rel="stylesheet" href="../public/assets/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="sidebar">
        <header><i class="fa fa-home"> HOME</i></header>
        <ul>
            <li><a href="/bookings"><i class="fa fa-cart-plus"></i>BOOKINGS</a></li>
            <li><a href="/services"><i class="fa fa fa-motorcycle"></i>SERVICES</a></li>
            <li><a href="/stationprofile"><i class="fa fa-address-book"></i>PROFILE</a></li>
        </ul>
    </div>
    <section>
        <div class="content-wrapper">
            <div class="portfolio-items-wrapper">
      
              <div class="portfolio-item-wrapper">  
                <div class="portfolio-img-background1"></div>
      
                <div class="img-text-wrapper">
      
                    <div class="subtitle">GENERAL SERVICE CHCEKUP</div>
                  
                </div>
              </div>
    
              <div class="portfolio-item-wrapper">
                <div class="portfolio-img-background4"></div>
                <div class="img-text-wrapper">
                  
               <div class="subtitle">AIR FILTER</div>
      
                </div>
              </div>

              <div class="portfolio-item-wrapper">
                <div class="portfolio-img-background2"></div>
                <div class="img-text-wrapper">
                  
               <div class="subtitle">WATER WASH</div>
      
                </div>
              </div>
      
            </div>
          </div>
    </section>
    
</body>
