<head>
    <link rel="stylesheet" href="../public/assets/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="sidebar">
        <header><i class="fa fa-home"> HOME</i></header>
        <ul>
            <li><a href="/bookings"><i class="fa fa-cart-plus"></i>BOOKINGS</a></li>
            <li><a href="/services"><i class="fa fa fa-motorcycle"></i>SERVICES</a></li>
            <li><a href="/stationprofile"><i class="fa fa-address-book"></i>PROFILE</a></li>
        </ul>
    </div>
    <section>
        <h1 id="heading">YOU HAVE REACHED PROFILE</h1>
<!------ Include the above in your HEAD tag ---------->


        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="public\assets\img\garage.jpg" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h3>
                            Bullet Garage</h3>
                        <small><cite title="Coimbatore, India">Coimbatore, India<i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-globe"></i>Adress: B3, Raju nagar , Coimbatore
                            <br />
                            <i class="glyphicon glyphicon-envelope"></i>Email: garagebullet@gmail.com
                            <br />
                            <i class="glyphicon glyphicon-phone"></i>Phone: 9697100438
                            <br />
                        <!-- Split button -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    </section>
    
</body>
